.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgb(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: block;
}

.profile__avatar-container {
  position: relative;
  width: 190px;
  height: 190px;
  margin-right: 20px;
}

.profile__avatar-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  visibility: hidden;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding-bottom: 12px;
}

.profile__avatar-container:hover .profile__avatar-btn {
  visibility: visible;
}

.profile__avatar-btn::after {
  content: "Edit Avatar";
  margin-left: 12px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  color: #212121;
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  color: #212121;
  opacity: 70%;
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn {
  display: flex;
  margin-top: auto;
  align-items: flex-start;
  background-color: transparent;
  border: none;
  gap: 8px;
  padding: 0;
  color: #212121;
  opacity: 70%;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
}

.profile__add-btn {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-top: auto;
  padding: 18px 32px;
  width: 149px;
  height: 52px;
  background-color: #212121;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: #fcf5e5;
  white-space: nowrap;
  border-radius: 8px;
  gap: 8px;
  align-items: center;
  border: none;
}

.profile__add-btn:hover {
  opacity: 80%;
  cursor: pointer;
}

.profile__edit-btn:hover {
  opacity: 100%;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar-btn {
    visibility: visible;
    position: absolute;
    width: 23.34px;
    height: 23.34px;
    bottom: 4.66px;
    right: 4.66px;
    top: auto;
    left: auto;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 6px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
    line-height: 0;
  }

  .profile__pencil-icon {
    width: 16px;
    height: 16px;
    display: block;
    margin: 0;
    padding-left: 12px;
    justify-content: center;
  }

  .profile__avatar-container {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 0 12px;
  }

  .profile__avatar-btn::after {
    content: "";
  }

  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

  .profile__add-btn {
    margin: 0;
    width: 288px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__edit-btn {
    justify-content: center;
  }
}
